

nav ul li{
	background:grey;
	border-radius: 5px;
	list-style-type: none;
	display:inline-block;
	padding: 0px 0px;
	font-size: 40px;
}
a:hover{
	background-color: green;
	border-radius: 5px;
	padding: 5px, 0px;
}

